












<div class="footer">
    <footer>Copyright 2024 Bookstalgia</footer>
</div>
<script>
    function about(){
        alert("This Website is built on node.js,expressJs, with Postgresql as database. Book cover obtained through openlibrary.org website/API. npm includes express, ejs, pg,axios,body-parser,etc")
    }
</script>
</body>
</html>