<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstalgia: Home</title>
    <link rel="stylesheet" href="/styles/mystyle.css">
</head>
<body>
    
<div class="container-navbar">
    <div class="navbar">
        <a href="#" style="font-size: xx-large; color: black; font-weight: bold;" id="logo"><img src="/assets/book_svg.svg" alt="opened-book" height="30">Bookstalgia</a>
        <a href="/">Home</a>
        <a href="/new">Add a Book</a>
        <a href="#" id="info" onclick="about()">About</a>
    </div>
</div>
